/**
//══════════════════════════════════════════════════════════════════════════════════════════════════════//
//                                                                                                      //
//                                ＷＨＡＴＳＡＰＰ ＢＯＴ－ＭＤ ＢＥＴＡ                                      //
//                                                                                                      // 
//                                         Ｖ：１．０．１                                                 //
//                                                                                                      // 
//                                                                                                      //
//                     ███████╗███████╗ █████╗ ██╗         ███╗   ███╗██████╗                           //
//                     ╚════██║██╔════╝██╔══██╗██║         ████╗ ████║██╔══██╗                          //
//                     ███████║███████╗███████║██║         ██╔████╔██║██║  ██║                          //
//                     ██═════╗██╔════╝██╔══██║██║         ██║╚██╔╝██║██║  ██║                          //
//                     ███████║███████║██║  ██║███████╗    ██║ ╚═╝ ██║██████╔╝                          //
//                     ╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝    ╚═╝     ╚═╝╚═════╝                           //
//                                                                                                      //
//                                                                                                      //
//                                                                                                      //
//══════════════════════════════════════════════════════════════════════════════════════════════════════//


CURRENTLY RUNNING ON BETA VERSION!!
*
   * @project_name : Zeal_Md
   * @author : Zeal 
   * @description : Zeal_Md ,A Multi-functional whatsapp user bot.
   * @version 1.2.7
*
   * Licensed under the  GPL-3.0 License;
* 
   * Created By Zeal.
   * © 2024 Zeal_Md.
* 
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
   * SOFTWARE.

 **/


run = "yarn && npm i pm2 --location=global && pm2 start lib/client.js --deep-monitoring --attach --name secktor"
start = "pm2 start lib/client.js --deep-monitoring --attach --name secktor"
entrypoint = "index.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-18:v3-20230608-f4cd419"]

[unitTest]
language = "nodejs"

[nix]
channel = "stable-23_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false
